@import './base.css';

:root {
  --color-carmine-main: #961918;
  --color-primary-main: #189697;
  --color-primary-darkened: #13696a;
  --color-secondary-main: #6b7280;
  --color-secondary-darkened: #4c515b;
  --color-danger-main: #ef798a;
  --color-danger-darkened: #bd5561;
  --color-warning-main: #fcca46;
  --color-warning-darkened: #c88d31;
}

.bg-hero {
  background-color: var(--color-carmine-main);
}

.bg-primary,
.checked\:bg-primary:checked,
.indeterminate\:bg-primary:indeterminate {
  background-color: var(--color-primary-main);
}
.hover\:bg-primary:hover {
  background-color: var(--color-primary-darkened);
}

.bg-secondary {
  background-color: var(--color-secondary-main);
}
.hover\:bg-secondary:hover {
  background-color: var(--color-secondary-darkened);
}

.bg-danger {
  background-color: var(--color-danger-main);
}

.bg-warning {
  background-color: var(--color-warning-main);
}
.hover\:bg-warning:hover {
  background-color: var(--color-warning-darkened);
}

.text-primary {
  color: var(--color-primary-main);
}
.hover\:text-primary:hover {
  color: var(--color-primary-darkened);
}

.text-warning {
  color: var(--color-warning-main);
}

.text-danger {
  color: var(--color-danger-main);
}
.hover\:text-danger:hover {
  color: var(--color-danger-darkened);
}

.border-primary,
.checked\:border-primary:checked,
.indeterminate\:border-primary:indeterminate {
  border-color: var(--color-primary-main);
}

.focus\:outline-primary:focus {
  outline-color: var(--color-primary-main);
}

.focus-visible\:outline-primary:focus-visible {
  outline-color: var(--color-primary-main);
}

.focus-within\:outline-primary:focus-within {
  outline-color: var(--color-primary-main);
}

.focus\:ring-primary:focus {
  --tw-ring-color: var(--color-primary-darkened);
}

.focus-within\:ring-primary:focus-within {
  --tw-ring-color: var(--color-primary-darkened);
}

.scrollbar-w-none {
  scrollbar-width: none;
}

@media (hover: hover) {
  .hover\:bg-primary:hover {
    background-color: var(--color-primary-darkened);
  }
  .hover\:bg-secondary:hover {
    background-color: var(--color-secondary-darkened);
  }
  .hover\:text-primary:hover {
    color: var(--color-primary-darkened);
  }
  .hover\:text-danger:hover {
    color: var(--color-danger-darkened);
  }
}
